<HTML>
{%load static %}
    <head>
        <title>Sutoriseben</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist\css\bootstrap.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
        <script src ="{% static 'code.js' %}"></script>
    </head>
    <body>
        <div class="text-center" id = "bujanq">
            <h1>Hai Bujanq</h1>
            <h2>Marthin Gabriela</h2>
            <button onclick="perubahantema()">
                Ubah Tema
            </button>
        </div>

        <button class="accordion">Aktivitas</button>
        <div class="panel">
            <p>Sedang berkuliah di Universitas Indonesia dan terlibat dalam club Business Intelligence SISTEM FASILKOM UI</p>
        </div>

        <button class="accordion">Pengalaman Organisasi</button>
        <div class="panel">
            <p>Panitia Acara Paskah PO FASILKOM UI 2018 <br> Anggota Sistem Club BI 2019</p>
        </div>

        <button class="accordion">Prestasi</button>
        <div class="panel">
            <p>Saya akan berusaha mengisi kolom ini secepatnya dan sebanyak-banyaknya</p>
        </div>

        <script>
                var acc = document.getElementsByClassName("accordion");
                var i;
                
                for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                        } else {
                            panel.style.maxHeight = panel.scrollHeight + "px";
                        } 
                    });
                }
            </script>
    </body>
</HTML>